@import "./highlight-js.css";
@import '@sweetalert2/theme-bulma/bulma.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.btn {
		@apply inline-flex flex-shrink-0 cursor-pointer select-none items-center justify-center whitespace-nowrap outline-none transition-all focus:ring disabled:cursor-default;
	}
}

@layer utilities {
	.scrollbar-custom {
		@apply scrollbar-thin scrollbar-track-transparent scrollbar-thumb-black/10 scrollbar-thumb-rounded-full scrollbar-w-1 hover:scrollbar-thumb-black/20 dark:scrollbar-thumb-white/10 dark:hover:scrollbar-thumb-white/20;
	}
}

.swal-loading-popup {
	background-color: #1f2937;
	color: white;
}

.swal-loading-title {
	color: white;
}

.swal-loading-spinner {
	border-top-color: #059669;
	border-bottom-color: white;
}
